@import "../../assets/style/variables";

.section4 {
    box-sizing: border-box;
    .content-s4 {
        display: flex;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 100%;
        height: 100vh;
        background-image: url("#{$route_img}section4-image.png");
        background-size: 56% 100%;
        .container-accordion {
            margin: auto;
            .item {
                margin-left: 8%;
                width: 50%;
            }
            .accordion {
                background-color: $color_background;
                color: #444;
                cursor: pointer;
                width: 100%;
                padding: 18px;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
            }
            .active,
            .accordion:hover {
                background-color: $color_border;
            }

            .accordion:after {
                flex-shrink: 0;
                width: 1.25rem;
                height: 1.25rem;
                margin-left: auto;
                content: "";
                float: right;
                background: url('../../assets/images/arrow.svg');
                background-repeat: no-repeat;
                background-size: 1.25rem;
                transition: transform 0.2s ease-in-out;
            }

            .active:after {
                transform: rotate(180deg);
            }

            .panel {
                padding: 0 18px;
                background-color: white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .section4 {
        width: 100%;
        .content-s4 {
            background-size: cover;
        }
    }
}
